.App {
  text-align: center;
}

#text, #author {
  animation: fade-in-out 2s;
}

#quote-box {
  background-color: white;
  padding: 50px 50px 100px 50px;
  width: 43vw;
  min-height: fit-content;
}

#text {
  font-size: 26px;
  text-align: center;
}
#author {
  float: right;
  margin: 0;
}
#author-div {
  height: 50px;
  width: 100%;
}

#text::before {
  content: ' ';
}

#author::before {
  content: '- ';
}

#new-quote {
  padding: 15px;
  float: right;
  color: white;
}

#tweet-quote {
  float: left;
}

button, a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

button:hover, a:hover {
  filter: brightness(115%);
}

a {
  padding: 15px;
}

#by-text {
  text-align: center;
  color: white;
}
.fa-twitter::before{
  color: white;
}

@keyframes fade-in-out {
  0% {opacity: 0}
  100% {opacity: 1}
}

@media only screen and (max-width: 600px) {
  #quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
  }
  #author-div {
    text-align: center;
    width: fit-content;
  }
  #text {
    max-height: 300px;
    overflow-y: scroll;
  }
}